@page
@model StudentModel
@{
    ViewData["Title"] = "Student";
}
<script src="js/DeleteStudent.js"></script>
<div>
    <table>
        <tr>
            <td>Id</td>
            <td>姓</td>
            <td>名</td>
        </tr>
        @foreach (var students in ViewData["studentlist"] as List<ContosoUniversity.Models.Students>) {
            <tr>
                <td>
                    @students.Id
                </td>
                <td>
                    @students.FirstMidName
                </td>
                <td>
                    @students.LastName
                </td>
                <td>
                    <button type="button" id="delete" onclick="deletethis(@students.Id)">删除</button>
                </td>
            </tr>
        }
    </table>
</div>
